.box{
    //background-color:teal;
    border-radius: 10px;
    margin-bottom: 5%;
    //color: thistle;
}

.main-infos{
    margin-bottom: 0.5%;
}

.post-date{
    font-size: small;
    text-align: left;
}

.post-title{
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}

.post-creator{
    font-size: smaller;
    color: rgb(173, 168, 168);
}

.post-desc{
    margin-bottom: 0.75%;
}

.post-text{
    font-weight: lighter;
}

.post-separator{
    background-color:black;
    border:none;
    height: 1px
}