.box{
    background-color:teal;
    border-radius: 10px;
    margin-bottom: 2%;
    color: thistle;
}

.main-infos{
    margin-bottom: 0.5%;
}

.post-date{
    font-size: small;
}

.post-title{
    font-weight: bolder;
    font-size: x-large;
}

.additional-infos{
    margin-bottom: 0.75%;
}

.post-text{
    font-weight: lighter;
}