<form class="example-form" [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <mat-label>Search a pseudo ...</mat-label>
    <br />
    <input cklass="field" type="text" placeholder="ex : mary123" formControlName="pseudo">
    <button type="submit" id="submit" class="button is-link" [disabled]="postForm.invalid">Search</button>
</form>

<div *ngIf="searchedUser">
    <br/>
    Id : {{searchedUser.id}}
    <br/>
    Name : {{searchedUser.name}}
    <br/>
    Pseudo : {{searchedUser.pseudo}}
    <br/>
    Age : {{searchedUser.age}}
    <br/>
    Birthdate : {{searchedUser.birthdate}}
    <br/>
    Password : {{searchedUser.password}}
</div>
<div *ngIf="!searchedUser">
    User does not exist
</div>