<div class="footer-main">
    <table class="footer-table">
        <td>
            <a class="footer-link" routerLink="/credits">
                Credits
            </a>
        </td>
        <td>
            <a class="footer-link" routerLink="/packages">
                Packages used
            </a>
        </td>
        <td>
            <a class="footer-link" href="{{swaggerRoute}}" target="_blank">
                API swagger
            </a>
        </td>
        <td class="footer-end">
            <h3>
                Created the 10/11/2022
            </h3>
        </td>
    </table>
</div>