.footer-main{
    background-color: rgb(95, 95, 95);
    padding:3%;
    padding-left: 5%;
    .footer-link{
        font-size: large;
        margin-right: 2%;
        text-decoration: none;
        color: rgb(28, 28, 98);
    }

}