.main-content{
    padding-left: 30%;
}

.form{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: start;
    .searchtext{
        margin-bottom: 1%;
    }
    .searchInput{
        margin-right: 2%;
    }
}