.navbar{
    background-color: rgb(218, 215, 215);
    padding:1%;
    padding-top: 2%;
    .end{
        float: right;
        width: 200px;
        .navbar-item{
            margin-left: 5%;
        }   
    }
}

.navbar-item{
    text-decoration: none;
    color: rgb(106, 104, 104);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 2%;
    font-size: large;
    font-weight: bolder;
}