<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item primary" routerLink="/home" style="font-size: large; font-weight: bolder;">
            Test Angular
        </a>
        <a class="navbar-item secondary" routerLink="/user" style="font-size: 500; font-weight: bold;">
            Users
        </a>
        <a class="navbar-item secondary" routerLink="/posts" style="font-size: 500; font-weight: bold;">
            Posts
        </a>
    </div>
</nav>