<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/home">
            Test Angular
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="/userSearch">
                Users
            </a>

            <a class="navbar-item" routerLink="/posts">
                Posts
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" routerLink="/signUp">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" routerLink="/logIn">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>