#content{
    overflow: hidden;
    font-size: 1.5rem;
    padding-top: 3%;
    padding-bottom: 5%;
}
#container{
    width: 100%;
}

#headerparallax{
    position: fixed;
    z-index: 1;
    top: 0%; 
    left: 0%;
    width: 100%;
    height: auto;
}

#footerparallax{
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: auto;
}
